@media(min-width: 425px){
    .footer_lista{        
        width: 425px;        
    }
    .footer a{       
        padding: 10px;       
       
    }
    .footer img{
        width: 55px;
        height: 55px;
    }
}
@media(min-width: 768px){
    .footer a:hover .footerIMG {
        width: 60px;
        height: 60px;
    }
}
@media(min-width: 1024px){
    .footer{          
        margin-top: 70px; 
        
        
    }
}